useDynLib(TitanCNA)
import(IRanges,foreach,GenomeInfoDb,Rsamtools)
export(loadAlleleCounts,loadDefaultParameters,extractAlleleReadCounts,
		filterData,getPositionOverlap,wigToRangedData,
		outputTitanResults,outputModelParameters,correctReadDepth,
		runEMclonalCN, viterbiClonalCN,computeSDbwIndex,
		plotAllelicRatio,plotClonalFrequency,plotCNlogRByChr,
		plotSubcloneProfiles)
